body {
  background-color: #282c34;
  height: 100vh;
  position: relative;
  margin: 0;
  margin-top: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#options {
  display: flex;
  flex-direction: row;
}


#instructions h3 {
  text-align: center;
  margin-bottom: 0;
  margin-top:10rem;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: red;
  }

  49% {
    color: red;
  }

  80% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: red;
  }
}

/*canvas properties*/
canvas {
  border: 1px solid black;
  background-color: white;
}

/*colour swatches for palette*/
#colourSelector {
  margin-top: auto;
  margin-left: auto;
  width: 50vh;
  color: white;
}

#options h4 {
  text-align: center;
  margin-bottom: 0;
}

#colourPalette button {
  width: 12.5%;
  height: 10px;
  margin-top: 5px;
  border:0;
  float: left;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#indigo {
  background-color: indigo;
}

#violet {
  background-color: violet;
}

#black {
  background-color: black;
}
